
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1550px;
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: rgb(23, 134, 225);
}

h1, h2 {
  color: #111111;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}